.presentation__text {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.8;
  .text--underline {
    padding: 0.3rem 0.2rem;
    background-image: linear-gradient(
      120deg,
      #fff 0,
      var(--accent-color-lighter) 15%,
      var(--accent-color-lighter) 70%,
      #fff 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0.6em;
    background-position: 0 88%;
    transition: background-size 0.2s ease-in-out;
    a {
      text-decoration: none;
      color: var(--text-color-body);
    }
    &:hover {
      background-size: 100% 88%;
    }
  }
}

/**********************************************/
/*************  RESPONSIVE  
***********************************************/

/*  LAYOUT < 1024px  */
@media (max-width: 1024px) {
  #skills .section__skills {
    .skill__block {
      padding: 20px;
      max-width: 400px;
      margin: 0 auto;
    }
  }
  #path .section__path {
    padding-right: 30px;
    padding-left: 30px;
  }
}

/*  LAYOUT < 576px  */
@media (max-width: 576px) {
  .presentation__text {
    width: calc(100% - 30px);
    font-size: 1.1rem;
  }
}
