.presentation__text {
  padding-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.8;
  .text--underline {
    padding: 0.3rem 0.2rem;
    background-image: linear-gradient(
      120deg,
      #fff 0,
      var(--accent-color-lighter) 15%,
      var(--accent-color-lighter) 70%,
      #fff 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0.6em;
    background-position: 0 88%;
    transition: background-size 0.2s ease-in-out;
    a {
      text-decoration: none;
      color: var(--text-color-body);
    }
    &:hover {
      background-size: 100% 88%;
    }
  }
}

/**********************************************/
/*************  RESPONSIVE  
***********************************************/

/*  LAYOUT < 576px  */
@media (max-width: 576px) {
  .presentation__text {
    font-size: 1.1rem;
  }
}
